<h1 mat-dialog-title class="h1dialog">{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="formCurso" >
    <mat-form-field >
        <mat-label>Nombre</mat-label>
        <input matInput  formControlName="nombre" placeholder="Ingrese un nombre">
      </mat-form-field>
    <mat-form-field >
        <mat-label>Grupo</mat-label>
        <input matInput  formControlName="grupo" placeholder="Ingrese un nombre">
      </mat-form-field>
    <mat-form-field >
        <mat-label>Profesor</mat-label>
        <input matInput  formControlName="profesor" placeholder="Ingrese un nombre">
      </mat-form-field>
    <mat-form-field >
        <mat-label>Inicio</mat-label>
        <input matInput  formControlName="fechaInicio" placeholder="Ingrese un nombre">
      </mat-form-field>
    <mat-form-field >
        <mat-label>Fin</mat-label>
        <input matInput  formControlName="fechaFin" placeholder="Ingrese un nombre">
      </mat-form-field>
    <mat-form-field >
        <mat-label>Abierto</mat-label>
        <input matInput  formControlName="inscripcion" placeholder="Ingrese un nombre">
      </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button mat-dialog-close>Cancelar</button> -->
  <button mat-button  (click)="guardar()">Guardar</button>
</div>
