.grid-container {
  margin: 20px;
}

.example-card {
  /* max-width: 250px; */
 /*  margin: 0px 0.25px; */
}

.example-header-image {
  background-image: url('https://pluralsight2.imgix.net/paths/images/angular-14a0f6532f.png');
  background-size: cover;
}

.card_listas_panel{
  width: 95%;
  margin: 3% 2.5%;
  display: flex;
  justify-content: space-evenly;
  /*grid-template-columns: auto auto auto ;*/
}
