<div class="col-md-12 loginBox ">
  <form action="" [formGroup]="formLogin" (ngSubmit)="login()" class="custom-form">
    <h1>Bienvenido</h1>
      <div class="">
        <mat-form-field appearance="fill" class="fill">
          <mat-label>Usuario</mat-label>
          <input type="text" matInput formControlName="userName">
        </mat-form-field>
      </div>
      <div class="">
        <mat-form-field  appearance="fill" class="fill">
          <mat-label>Contraseña</mat-label>
          <input type="text" matInput formControlName="userPass">
        </mat-form-field>
      </div>

      <div class="loginFin">
        <div class="">
          <mat-label>¿Admin?</mat-label>
          <mat-slide-toggle matInput formControlName="userAdmin"></mat-slide-toggle><br>
        </div>
        <div class="">
          <button type="submit" mat-raised-button color="primary">Entrar</button>
        </div>
      </div>


  </form>
</div>
