<mat-card class="card_listas">
  <div>
    <h2>
      Listado de Alumnos
    </h2>
  </div>
  <div class="container panel_listas">


    <mat-form-field class="col-md-4">
      <mat-label>Buscar</mat-label>
      <input type="text" matInput (keyup)="filtroAlumno($event)">
    </mat-form-field>
    <button mat-icon-button class="col-md-4" (click)="openDialog()">
      <mat-icon>format_list_bulleted_add</mat-icon>
      <!-- <mat-icon>assignment_add</mat-icon> -->
    </button>

  </div>

  <div class="">
    <table mat-table [dataSource]="datosAlumnos" class="col-md-12 mat-elevation-z8" matSort>
      <!-- 'id' -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
      <!-- 'nombre' -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef="">NOMBRE</th>
        <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
        <!-- error -->
        <!-- <mat-error *ngIf="errorHandling('nombre', 'required')">
        You must provide a<strong>name</strong></mat-error> -->
      </ng-container>
      <!-- 'grupo' -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>APELLIDO</th>
        <td mat-cell *matCellDef="let element">{{element.apellido}}</td>
      </ng-container>
      <!-- 'telefono' -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>TELEFONO</th>
        <td mat-cell *matCellDef="let element">{{element.telefono}}</td>
      </ng-container>
      <!-- 'email' -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-MAIL</th>
        <td mat-cell *matCellDef="let element">{{element.email }}</td>
      </ng-container>
      <!-- 'acciones' -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editar(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="DeleteAlumno(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef ="AlumnosbCols"></tr>
      <tr mat-row *matRowDef="let row; columns:AlumnosbCols"></tr>
    </table>

    <p>{{datosAlumnosBase | json}}</p>


  </div>
  </mat-card>

